# --- PASTAS DE SUPORTE ---
Support/Icones/
Support/Instaladores/
Support/MidiaDivulgacao

# --- LIMPEZA DELPHI ---
__history/
__recovery/
Win32/
Win64/
*.dcu
*.identcache
*.local
*.otares
*.res
*.rsm
*.skincfg
*.stat
*.tvsconfig
*.~*